.explore-search-stays {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	border-bottom: 1px solid rgb(221, 221, 221);
	margin-bottom: 25px;
	padding: 25px 0;
	font-size: rem(14px);
	line-height: 1;
	color: $clr6;

	// border-top: 1px solid rgb(221, 221, 221);
}

.empty-list {
	& > * {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		font-weight: 300;
	}
}

.sort-stays-seperator {
	width: 100%;
	position: absolute;
	left: 0;
	border-top: 1px solid rgb(221, 221, 221);
}

@media screen and (max-width: 1024px) {
}
