.app-layout {
	display: grid;
	grid-template-rows: 1fr 400px;
	min-height: 100vh;
}

.main-layout {
	display: grid;
	grid-template-columns: 80px 1fr 80px;

	> * {
		grid-column: 2;
	}
}

.detail-layout {
	display: grid;
	grid-template-columns: 1fr 1120px 1fr;
}

.middle-layout {
	grid-column: 2 / 3;
}
.full-layout {
	grid-column: 1 / 4;
}

.main-app-layout {
	grid-row: 1 / 2;
}

.footer-layout {
	grid-row: 2 / 3;
}

@media screen and (max-width:1300px) {
	.detail-layout {
		grid-template-columns: 1fr 83vw 1fr;
	}
}
@media screen and (max-width:560px) {
	.main-layout {
		grid-template-columns: 1fr 20fr 1fr;
	}
}